# Local folders Terminal Version
SiriusVault/file in/
SiriusVault/file out/
SiriusVault/SiriusData/
SiriusVault/src/
SiriusVault/temp/
SiriusVault/Vaults
# Local folders GUI version
SiriusVaultGUI/file in/
SiriusVaultGUI/file out/
SiriusVaultGUI/Vaults

# Python compile files
__pycache__
*.pyc

# PyInstaller
build/
dist/
*.spec

# Local config
config.json
*.json
*.json.enc

# IDE files
.vscode/

# .env
venv/
env/
.venv/
.env
