# Local folders Terminal Version
SiriusVault/file in/
SiriusVault/file out/
SiriusVault/SiriusData/
SiriusVault/src/
SiriusVault/temp/
# Local folders GUI version
SiriusVaultGUI/SiriusData/
SiriusVaultGUI/temp/

# Local Test Files
TEST/
pytest.ini
test_backend.py
test_gui.py

# Python compile files
__pycache__
*.pyc
.pytest_cache

# PyInstaller
build/
dist/
*.spec

# Local config
config.json
*.json
*.json.enc

# IDE files
.vscode/

# .env
venv/
env/
.venv/
.env

# DEV
SiriusVaultDEV/
# add readme and wip files to this folder!

# README
readme.md


